.photo{
    position:relative;
    float: left;
    margin: 5% 20% 10% 10%;
}

.photo img{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius:10px;
    height:120%;
    width:120%;
}

.header{
    font-size: 450%;
}

.sub-header{
    font-size: 180%;
    font-family: 'Slabo 27px', serif;
}

.menu{
    font-size: 340%;
}

.btn-circle {
  width: 75px;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
}
